<!-- <p id="notice"><%#= notice %></p> -->

<h4>
  <strong>Name:</strong>
  <%= @product.name.capitalize %>
</h4>
<p>
  <strong>Part ID:</strong>
  <%= @product.id %>
</p>
<div class="card card-body bg-light">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="product-image">
        <% if @product.image.url %>
          <%= image_tag @product.image.url, class: "img-responsive" %>
        <% end %>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="row">
        <div class="col-6">
          <%# product_url(@product) %>
            <%# qrcode = RQRCode::QRCode.new(product_url(@product)) %>
            <%# qrcode.as_svg(
              offset: 0,
              color: '000000',
              module_size: 5,
              standalone: true
            ).html_safe %>
            <%= QrCode.call(product_url(@product))%>
        </div>
        <div class="col-6">
          <h4 class="supplier">Supplier No:</h4>
          <div class="supplier_number">
            <% if @product.supplier_number %>
              <%= @product.supplier_number.capitalize %>
            <% else %>
              <h6>N/A</h6>
            <% end %>  
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 description card card-body bg-light">
          <h4>Description:</h4>
          <% if @product.description %>
            <%= @product.description %>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>

  
    
    
</div>
<br><br>
<h4>
Inventory: 
<%= @product.qty %>
</h4>
<% if current_user.try(:type) == 'AdminUser' %>
  <%= link_to 'Add', add_product_path(@product), class: "btn btn-primary" %>
<% end %>
<br>
<br>

<%= link_to 'Use', use_product_path(@product), class: "btn btn-primary" %>

<br>
<br>

<%= link_to 'View PDF', product_path(@product, format: "pdf"), class: "btn btn-xs btn-success" %>
<br><br>
<% if current_user.try(:type) == 'AdminUser' %>
  <%= link_to 'Edit', edit_product_path(@product) %> |
<% end %>
<%= link_to 'Back', products_path %>










