<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>
<p>
  <strong>ID:</strong>
  <%= @product.id %>
</p>

<p>
  <%# product_url(@product) %>
  <%# qrcode = RQRCode::QRCode.new(product_url(@product)) %>
  <%# qrcode.as_svg(
    offset: 0,
    color: '000000',
    module_size: 5,
    standalone: true
  ).html_safe %>
  <%= QrCode.call(product_url(@product))%>
</p>

<p>
  <%= image_tag @product.image.url %>
</p>

<br>
Quantity: 
<%= @product.qty %>
<br><br>

<%= link_to 'Use', use_product_path(@product), class: "btn btn-primary" %>

<br>
<br>


<br><br>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>










